/* General Styling */
html {
  font-size: 62.5% ;
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
/* Utility styling */
.container {
  max-width: 1250px;
  margin: auto;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-rows: 6rem 1fr 6rem;
  grid-template-columns: 1fr;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
}
/* Header styling */
header a {
  color: #fff;
  padding: 1rem 1.3rem;
  margin: 10px;
  border-radius: 6%;
}
header .logo {
  font-size: 3rem;
  font-weight: bold;
}
header .logo:hover {
  color: #fff;
}
header .container {
  margin: 15px auto;
}
header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Images */
img.medium {
  max-width: 29rem;
  width: 3in;
  height: 3in;
  object-fit: cover;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
 color: #f0c040; 
 margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}